@import url('https://fonts.googleapis.com/css?family=Roboto:700i|Open+Sans');

*{
    margin: 0;  
    list-style: none;
}

h1 {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Open Sans', sans-serif;   
}

#nav-bar {
    width: 246px;
    height: 625px;
    background: #173f5f;
    position: fixed;
}

#nav-menus {
    height: 290px;
    position: relative;
    top: 271px;
    border-bottom: 2px solid #fff;
}

#nav-menus li.nav-button {
    line-height: 55px;
    padding: 0 0 0 60px;
    color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    cursor: pointer;
    text-shadow: 2px 2px 1px #333;
}

#nav-menus li.nav-button:hover {
    border-left: 6px solid #00e4ff;
    transition: .3s ease-in-out;
    background-color: #20639b;
    box-shadow: 3px 5px 10px #333;
    text-shadow: 0px 0px 0px #333;
}

#nav-footer {
    position: absolute;
    bottom: 20px;
    left: 40px;
    color: #fff;
    font-size: 12px;
}

.header-img {
    position: absolute;
    height: 167px!important;
    width: 199px;
    overflow: hidden;
    top: 88px;
    left: 23px;
    border-radius: 50%;
}

.header-img > img {
    height: 240px;
    width: 240px;
    bottom: 12px;
    right: 19px;
    position: relative;
}

.header-name {
    color: #fff;
    position: absolute;
    height: 60px;
    top: 15px;
    text-align: center;
    font-size: 9px;
    width: 100%;
    background-color: #20639b;
}

.header-name > h1 {
    top: 8px;
    position: relative;
}

#content-body {
    width: 1120px;
    right: 0;
    height: 625px;
    position: absolute;
    overflow-x: hidden;
}

#home-section {
    width: 1120px;
    height: 625px;
    position: relative;
    display: block;
}

.background {
    height: 100%;
}

.background > img {
    height: 100%;
    width: 100%;
    opacity: .80;
}

.adjectives-tab {
    height: 135px;
    position: absolute;
    width: 395px;
    top: 110px;
    right: 0;
}

.adjectives-tab .adjectives {
    background-color: #f6d55c;
    height: 100px;
    color: #4f4b43;
}

.adjectives-tab .adjectives > h1 {
    font-size: 20px;
    position: relative;
    top: 17px;
    left: 25px;
    font-weight: 700;
}

.adjectives-tab .adjectives .adjective {
    position: absolute;
    top: 48px;
    left: 100px;
    font-size: 14px;
}

.adjectives-tab > .home-btn {
    position: absolute;
    right: 0;
    background: #ed553b;
    border: none;
    color: #fff;
    height: 35px;
    width: 200px;
    font-size: 17px;
    cursor: pointer;
    outline: 0;
}

.adjectives-tab > .home-btn:hover {
    box-shadow: 3px 3px 4px #333;
    transition: .2s ease-in-out;
}

#skills-section {
    height: 717px;
    width: 1120px;
    position: relative;
    display: block;
}

.section-header {
    position: relative;
    width: 224px;
    height: 58px;
    margin: 0 auto;
    text-align: center;
    top: 30px;
    color: #173f5f;
    font-weight: 100;
    text-shadow: 1px 1px 2px #333;
}

.section-header > span {
    width: 30px;
    height: 5px;
    position: absolute;
    background-color: #05ddfa;
    left: 98px;
    bottom: 8px;
}

::-webkit-scrollbar{
    width:10px;
    background-color:#4f4b43;
}

::-webkit-scrollbar-thumb{
    background-color:#ed553b;
}

.skillset-section {
    width: 896px;
    height: 575px;
    margin: 25px 108px;
    position: relative;
    top: 34px;
}

.skillset-section .skillset {
    width: 405px;
    display: table;
    height: 90px;
    text-align: center;
    box-shadow: 1px 1px 6px #333;
    border-radius: 3px;
    position: relative;
    margin: 0 0 30px 0;
}

.skillset-section .skillset > p {
    display: table-cell;
    padding: 31px 70px;
    font-style: italic;
    font-size: 21px;
}

.skillset-section .skillset > h1 {
    display: table-cell;
    color: #ccc;
    font-size: 28px;
    padding: 14px 45px;
    text-align: right;
    width: 100%;
}

.skillset span {
    position: absolute;
    width: 283.5px;
    height: 6px;
    background: #f6d55c;
    bottom: 0;
    left: 0;
}

.skillset-section .skillset:nth-child(n) {
    display: inline-block;
}

.skillset-section .skillset:nth-child(even) {
    float:right;
}

.javascript > span {
    background-color: #f00;
    width: 243px;
}

.cplus > span {
    background-color: #f00;
    width: 243px;
}

.wordpress > span {
    background-color: #f00;
    width: 243px;
}

.java > span {
    background-color: #f00;
    width: 243px;
}

.c > span {
    background-color: #f00;
    width: 243px;
}

.vb > span {
    width: 324px;
    background: #3caea3;
}

.html-css > span {
    width: 303.75;
}

#experiences-section {
    height: 625px;
    width: 1120px;
    position: relative;
    display: block;
}

.experience-tab {
    position: relative;
    width: 1120px;
    height: 625px;
}

.experience-tab > img {
    height: 401.5px;
    position: absolute;
    bottom: 0;
}

.past-experiences {
    height: 500px;
    width: 784px;
    background-color: #f6d55c;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #4f4b43;
}

.experience {
    height: 463px;
    width: 663px;
    padding: 38px 0px 0px 40px;
}

.experience > h1 {
    padding: 0 0 35px 45px;
}

.experience > h1:first-child {
    font-size: 20px;
    padding-bottom: 30px!important;
    padding: 0;
}

.experience > li {
    font-size: 18px;
    line-height: 40px;
    position: relative;
    padding: 0px 0px 0px 110px;
}

.experience > li:After {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #4f4b43;
    left: 75px;
    border-radius: 10px;
    top: 15px;
}

#aboutme-section {
    height: 625px;
    width: 1120px;
    position: relative;
    display: block;
}   

.about {
    margin-top: 35px;
    height: 250px;
    background-color: #94b4ce;
}

.about > .section-header {
    color: #fff;    
}

.about .section-header > span {
    background-color: #173f5f!important;
}

.about > p {
    width: 930px;
    margin: 38px auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
}